<strong>Olá, {{ name }} </strong>
<p>A equipe da Gympoint te deseja boas vindas!</p>
<p>Estamos muito felizes mas no fundo queremos o seu <strong>suor!</strong></p>
<p>
    <strong>Plan: </strong> {{ plan }} <br />
    <strong>Start: </strong> {{ start_date }} <br />
    <strong>End: </strong> {{ end_date }} <br />
    <strong>Total Price: </strong> {{ totalPrice }} <br />
</p>
<p>
    <small>
        Remember: São permitidos somente 5 checkins nos ultimos 7 dias corridos.
    </small>
</p>
